@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Goiânia-GO <br />
    Setor Leste Universitário <br />
    <abbr title="Celular/Whatsapp">Telefone:</abbr>
    (62) 9 8330-2803
</address>

<address>
    <strong>Email:</strong> <a href="mailto:ludovicoguilherme93@gmail.com">ludovicoguilherme93@gmail.com</a><br />
</address>
